VITE_SUPABASE_URL=https://hhxedeppkvqdchjnfovr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhoeGVkZXBwa3ZxZGNoam5mb3ZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MzUyODksImV4cCI6MjA5MTExMTI4OX0.Sw6bibk4_HOSa0RIqrXb9fm2LSIixm4QDUszb_LouuA
